.center{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 25px;
    text-align: center;
}

.slot-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.correct{
    color: limegreen;
    font-weight: bold;
}